* {
  margin: 0;
  height: 100%;
}

body {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  margin: 0;
  padding: 0;
  width: 100%;
}

$brand-color: #506473;

.navbar {
  $height: 70px;
  align-items: center;
  background-color: #506473;
  display: flex;
  height: $height;



  .logo {
    flex-grow: 1;
  }


  .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;

    img {
      height: calc(100% - 1.5rem);
      width: auto;
    }
  }
}

.header_image {
  img {
    height: 50em;
  }
}

.img-container {
  background-image: url(./images/header_image.JPG);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
}